.linksCard {
    background-color: var(--chestnut);
    color: var(--lavender-blush);
    height: 20rem;
    width: 18rem;
    padding: 1rem;

    .linkscardHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
    }

    .linkscardBody {
        .linkscardlineContainer {
            display: flex;
            align-items: center;
            margin: 1rem;
            gap: 0.5rem;
        }
    }

    .needsBefore::before {
        content: 'x';
    }
}

.textCard {
    width: 15rem;
}