.linksCard {
    background-color: var(--chestnut);
    color: var(--lavender-blush);
    height: 20rem;
    width: 21rem;
    padding: 1rem;

    .linkscardHeader {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 1.2rem;
    }

    .linkscardBody {
        .linkscardlineContainer {
            display: flex;
            align-items: center;
            margin-left: 0.5rem;
            margin-bottom: 0.8rem;
        }
    }

    .needsBefore::before {
        content: 'x';
    }
}

.textCard {
    width: 15rem;

    .textCardContent {
        text-align: justify;
    }
}