.linksCard {
    background-color: var(--chestnut);
    color: var(--lavender-blush);
    height: 13rem;
    width: 15rem;
    padding: 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    .needsBefore::before {
        content: 'x';
    }
}

.textCard {
    width: 15rem;
}