.infoRibbonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;    
    background-color: var(--garnet);
    color: var(--lavender-blush);
    margin-top: 6rem;

    .infoRibbonBox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        /* margin: 1rem -5rem; */
        margin: 1rem;
    }
}