.navbar {
    background-color: var(--logo-beige);
    color: var(--garnet);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav_links {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        .nav_link {
            margin: 0 10px;
            position: relative;
          
            &:visited {
                color: var(--garnet);
            }

            &:hover {
                color: var(--chestnut);

                .dropdown_content {
                    display: block;
                }
            }

            a {
                //color: #fff;
                text-decoration: none;
                display: block;
                padding: 10px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .dropdown {
            position: relative;
            

            .dropdown_content {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #f9f9f9;
                min-width: 18rem;
                padding: 10px;
                z-index: 1;

                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    a {
                        color: #333;
                        text-decoration: none;
                        display: block;
                        padding-left: 2rem;

                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .navbar {
        height: 72px;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-auto-flow: column;
        padding: 0 24px;
        background-color: var(--primary-color, #e4dddbcc);
        transition: background-color 0.5s ease-in-out;

        .nav_links {
            display: none;
            list-style: none;
            padding: 14px;
            font-size: 13.5px;
            /* justify-content: center;
            display: flex;
            flex-direction: column;
            margin-top: 72px; */

            .nav_link {
                margin: 0 10px;
                position: relative;
    
                &:hover {
                    .dropdown_content {
                        display: block;
                    }
                }
    
                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    //font-size: 13.5px;
                    transition: background-color 0.3s ease-in-out;
    
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
        
                &__parent {
                    display: flex;
                    gap: 6px;
                }
        
                &__child {
                    padding: 14px 0;
                }
            }
        }

        &__container {
            margin-top: 0;
            width: 100vw;
            height: 100vh;
            position: fixed;
            background: var(--primary-color, #a8b8b4);
            text-align: center;
            left: -120vw;
            top: 0;
            transition: left 500ms ease-out;
    
            &.menu__open {
                left: 0;
                transition: left 500ms ease-in;
                z-index: 1;
            }
        }

        .dropdown {
            display: flex;
            justify-content: space-between;
            flex-flow: column;
    
            .dropdown_header {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
    
                // so on mobile the dropdown-header link button just opens the menu instead of navigating to /about
                a {
                    pointer-events: none;
                }
            }
    
            .dropdown_content {
                text-align: left;
                padding-left: 10px;
                transition: background-color 0.5s ease-in-out;
                justify-content: center;
            
            }
        }
    }
}