.contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;

    span {
        display: flex;
        gap: 1rem;
        padding: 0.9rem;
        align-items: center;
    }
}