.footer {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;

    background-color: var(--chestnut);
    color: var(--lavender-blush);
    margin-top: 4rem;

    .footerLogoContainer {
        margin: 2rem;
    }
}