.footer {
    display: flex;
    flex-wrap: wrap;    
    
    justify-content: center;
    background-color: var(--chestnut);

    color: var(--lavender-blush);

    .footerLogoContainer {
        margin: 2rem;
    }
}