.nav_link {
    margin: 0 10px;
    position: relative;
    display: flex;
            width: 100%;

    &:hover {
        .dropdown_content {
            display: block;
        }
    }

    /* a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    } */

    /* &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("../../../public/walnutleaf-lavender.svg");
        background-size: cover;
    } */
}