.productcardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .productcardImageContainer {
        margin: 2px;
    }

    .toBasketButton {
        width: 33%;
        height: 2rem;
        background-color: var(--jasper);
        color: var(--lavender-blush);
        border: none;
        border-radius: 5%;
        margin-top: 1rem;
    }
}